<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>正常</string>
		<key>mode</key>
		<string>ACNormalBlendFilter</string>
		<key>preImageName</key>
		<string>正常.jpg</string>
		<key>statID</key>
		<string>1190699</string>
	</dict>
	<dict>
		<key>name</key>
		<string>正片叠底</string>
		<key>mode</key>
		<string>ACMultiplyBlendFilter</string>
		<key>preImageName</key>
		<string>正片叠底.jpg</string>
		<key>statID</key>
		<string>1190700</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滤色</string>
		<key>mode</key>
		<string>ACScreenBlendFilter</string>
		<key>preImageName</key>
		<string>滤色.jpg</string>
		<key>statID</key>
		<string>1190701</string>
	</dict>
	<dict>
		<key>name</key>
		<string>强光</string>
		<key>mode</key>
		<string>ACHardLightBlendFilter</string>
		<key>preImageName</key>
		<string>强光.jpg</string>
		<key>statID</key>
		<string>1190702</string>
	</dict>
	<dict>
		<key>name</key>
		<string>变亮</string>
		<key>mode</key>
		<string>ACLightenBlendFilter</string>
		<key>preImageName</key>
		<string>变亮.jpg</string>
		<key>statID</key>
		<string>1190703</string>
	</dict>
	<dict>
		<key>name</key>
		<string>线性光</string>
		<key>mode</key>
		<string>ACLinearLightBlendFilter</string>
		<key>preImageName</key>
		<string>线性光.jpg</string>
		<key>statID</key>
		<string>1190704</string>
	</dict>
	<dict>
		<key>name</key>
		<string>颜色减淡</string>
		<key>mode</key>
		<string>ACColorDodgeBlendFilter</string>
		<key>preImageName</key>
		<string>颜色减淡.jpg</string>
		<key>statID</key>
		<string>1190705</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柔光</string>
		<key>mode</key>
		<string>ACSoftLightBlendFilter</string>
		<key>preImageName</key>
		<string>柔光.jpg</string>
		<key>statID</key>
		<string>1190706</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亮光</string>
		<key>mode</key>
		<string>ACVividLightBlendFilter</string>
		<key>preImageName</key>
		<string>亮光.jpg</string>
		<key>statID</key>
		<string>1190707</string>
	</dict>
	<dict>
		<key>name</key>
		<string>线性加深</string>
		<key>mode</key>
		<string>ACLinearBurnBlendFilter</string>
		<key>preImageName</key>
		<string>线性加深.jpg</string>
		<key>statID</key>
		<string>1190708</string>
	</dict>
	<dict>
		<key>name</key>
		<string>颜色加深</string>
		<key>mode</key>
		<string>ACColorBurnBlendFilter</string>
		<key>preImageName</key>
		<string>颜色加深.jpg</string>
		<key>statID</key>
		<string>1190864</string>
	</dict>
	<dict>
		<key>name</key>
		<string>变暗</string>
		<key>mode</key>
		<string>ACDarkenBlendFilter</string>
		<key>preImageName</key>
		<string>变暗.jpg</string>
		<key>statID</key>
		<string>1190709</string>
	</dict>
	<dict>
		<key>name</key>
		<string>差值</string>
		<key>mode</key>
		<string>ACDifferenceBlendFilter</string>
		<key>preImageName</key>
		<string>差值.jpg</string>
		<key>statID</key>
		<string>1190710</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排除</string>
		<key>mode</key>
		<string>ACExclusionBlendFilter</string>
		<key>preImageName</key>
		<string>排除.jpg</string>
		<key>statID</key>
		<string>1190711</string>
	</dict>
</array>
</plist>
