<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>背景按钮点击</key>
	<string>1190088</string>
	<key>选择照片为背景</key>
	<string>1190123</string>
	<key>前景按钮点击</key>
	<string>1190089</string>
	<key>选择照片为前景</key>
	<string>1190124</string>
	<key>混合模式</key>
	<string>1190698</string>
	<key>滤镜</key>
	<string>1190712</string>
	<key>遮罩</key>
	<string>1190767</string>
	<key>前景调整</key>
	<string>1190788</string>
	<key>前景不透明度</key>
	<string>1190789</string>
	<key>橡皮擦</key>
	<string>1190790</string>
	<key>擦除画笔</key>
	<string>1190872</string>
	<key>恢复画笔</key>
	<string>1190791</string>
	<key>圆形笔刷</key>
	<string>1190792</string>
	<key>柔边笔刷</key>
	<string>1190793</string>
	<key>方形笔刷</key>
	<string>1190794</string>
	<key>高亮</key>
	<string>1190795</string>
	<key>恢复</key>
	<string>1190796</string>
	<key>画笔透明度</key>
	<string>1190797</string>
	<key>画笔大小</key>
	<string>1190798</string>
	<key>放大镜</key>
	<string>1190799</string>
	<key>翻转</key>
	<string>1190800</string>
	<key>水平翻转</key>
	<string>1190801</string>
	<key>垂直翻转</key>
	<string>1190802</string>
	<key>编辑返回</key>
	<string>1190880</string>
	<key>玩法展示</key>
	<string>1190803</string>
	<key>保存分享</key>
	<string>1190083</string>
	<key>在一起</key>
	<string>1190865</string>
	<key>朋友圈</key>
	<string>1190103</string>
	<key>微信好友</key>
	<string>1190102</string>
	<key>新浪微博</key>
	<string>1190104</string>
	<key>QQ空间</key>
	<string>1190105</string>
	<key>分享返回</key>
	<string>1190101</string>
	<key>分享返回首页</key>
	<string>1190866</string>
	<key>注册登录</key>
	<string>1190059</string>
	<key>注册帐号</key>
	<string>1190061</string>
	<key>忘记密码</key>
	<string>1190682</string>
	<key>登录返回</key>
	<string>1190683</string>
	<key>登录按钮</key>
	<string>1190060</string>
	<key>注册下一步</key>
	<string>1190684</string>
	<key>注册返回</key>
	<string>1190685</string>
	<key>点击头像</key>
	<string>1190686</string>
	<key>修改头像</key>
	<string>1190687</string>
	<key>修改昵称</key>
	<string>1190688</string>
	<key>修改性别</key>
	<string>1190689</string>
	<key>修改生日</key>
	<string>1190690</string>
	<key>修改地区</key>
	<string>1190691</string>
	<key>修改密码</key>
	<string>1190692</string>
	<key>用户信息返回</key>
	<string>1190693</string>
	<key>退出登录</key>
	<string>1190694</string>
	<key>任务大厅</key>
	<string>1190697</string>
	<key>积分</key>
	<string>1190696</string>
	<key>钱包</key>
	<string>1190695</string>
	<key>应用推荐</key>
	<string>1190027</string>
	<key>素材中心</key>
	<string>1190881</string>
	<key>帮助与反馈</key>
	<string>1190026</string>
	<key>关于</key>
	<string>1190001</string>
	<key>样片展示</key>
	<string>1190085</string>
	<key>经典合成</key>
	<string>1190084</string>
	<key>开机商业</key>
	<string>1190032</string>
	<key>icon商业</key>
	<string>1190028</string>
</dict>
</plist>
