<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Normal</string>
		<key>LUTPicName</key>
		<string>Normal.png</string>
		<key>preImageName</key>
		<string>Normal.jpg</string>
		<key>cardColor</key>
		<string>333333</string>
        <key>statID</key>
        <string>1190713</string>
        <key>statIntensityID</key>
        <string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chok1</string>
		<key>LUTPicName</key>
		<string>Chok1.png</string>
		<key>preImageName</key>
		<string>Chok1.jpg</string>
		<key>cardColor</key>
		<string>4453e9</string>
        <key>statID</key>
        <string>1190714</string>
        <key>statIntensityID</key>
        <string>1190715</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chok2</string>
		<key>LUTPicName</key>
		<string>Chok2.png</string>
		<key>preImageName</key>
		<string>Chok2.jpg</string>
		<key>cardColor</key>
		<string>4453e9</string>
        <key>statID</key>
        <string>1190716</string>
        <key>statIntensityID</key>
        <string>1190717</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vert1</string>
		<key>LUTPicName</key>
		<string>Vert1.png</string>
		<key>preImageName</key>
		<string>Vert1.jpg</string>
		<key>cardColor</key>
		<string>1f786c</string>
        <key>statID</key>
        <string>1190718</string>
        <key>statIntensityID</key>
        <string>1190719</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vert2</string>
		<key>LUTPicName</key>
		<string>Vert2.png</string>
		<key>preImageName</key>
		<string>Vert2.jpg</string>
		<key>cardColor</key>
		<string>1f786c</string>
        <key>statID</key>
        <string>1190720</string>
        <key>statIntensityID</key>
        <string>1190721</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vert3</string>
		<key>LUTPicName</key>
		<string>Vert3.png</string>
		<key>preImageName</key>
		<string>Vert3.jpg</string>
		<key>cardColor</key>
		<string>1f786c</string>
        <key>statID</key>
        <string>1190722</string>
        <key>statIntensityID</key>
        <string>1190723</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vert4</string>
		<key>LUTPicName</key>
		<string>Vert4.png</string>
		<key>preImageName</key>
		<string>Vert4.jpg</string>
		<key>cardColor</key>
		<string>1f786c</string>
        <key>statID</key>
        <string>1190724</string>
        <key>statIntensityID</key>
        <string>1190725</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vert5</string>
		<key>LUTPicName</key>
		<string>Vert5.png</string>
		<key>preImageName</key>
		<string>Vert5.jpg</string>
		<key>cardColor</key>
		<string>1f786c</string>
        <key>statID</key>
        <string>1190726</string>
        <key>statIntensityID</key>
        <string>1190727</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt1</string>
		<key>LUTPicName</key>
		<string>Salt1.png</string>
		<key>preImageName</key>
		<string>Salt1.jpg</string>
		<key>cardColor</key>
		<string>a4b7cf</string>
        <key>statID</key>
        <string>1190728</string>
        <key>statIntensityID</key>
        <string>1190729</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt2</string>
		<key>LUTPicName</key>
		<string>Salt2.png</string>
		<key>preImageName</key>
		<string>Salt2.jpg</string>
		<key>cardColor</key>
		<string>a4b7cf</string>
        <key>statID</key>
        <string>1190730</string>
        <key>statIntensityID</key>
        <string>1190731</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt3</string>
		<key>LUTPicName</key>
		<string>Salt3.png</string>
		<key>preImageName</key>
		<string>Salt3.jpg</string>
		<key>cardColor</key>
		<string>a4b7cf</string>
        <key>statID</key>
        <string>1190732</string>
        <key>statIntensityID</key>
        <string>1190733</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt4</string>
		<key>LUTPicName</key>
		<string>Salt4.png</string>
		<key>preImageName</key>
		<string>Salt4.jpg</string>
		<key>cardColor</key>
		<string>a4b7cf</string>
        <key>statID</key>
        <string>1190734</string>
        <key>statIntensityID</key>
        <string>1190735</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Salt5</string>
		<key>LUTPicName</key>
		<string>Salt5.png</string>
		<key>preImageName</key>
		<string>Salt5.jpg</string>
		<key>cardColor</key>
		<string>a4b7cf</string>
        <key>statID</key>
        <string>1190736</string>
        <key>statIntensityID</key>
        <string>1190737</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleu1</string>
		<key>LUTPicName</key>
		<string>Bleu1.png</string>
		<key>preImageName</key>
		<string>Bleu1.jpg</string>
		<key>cardColor</key>
		<string>5a9ed3</string>
        <key>statID</key>
        <string>1190738</string>
        <key>statIntensityID</key>
        <string>1190739</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleu2</string>
		<key>LUTPicName</key>
		<string>Bleu2.png</string>
		<key>preImageName</key>
		<string>Bleu2.jpg</string>
		<key>cardColor</key>
		<string>5a9ed3</string>
        <key>statID</key>
        <string>1190740</string>
        <key>statIntensityID</key>
        <string>1190741</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleu3</string>
		<key>LUTPicName</key>
		<string>Bleu3.png</string>
		<key>preImageName</key>
		<string>Bleu3.jpg</string>
		<key>cardColor</key>
		<string>5a9ed3</string>
        <key>statID</key>
        <string>1190742</string>
        <key>statIntensityID</key>
        <string>1190743</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleu4</string>
		<key>LUTPicName</key>
		<string>Bleu4.png</string>
		<key>preImageName</key>
		<string>Bleu4.jpg</string>
		<key>cardColor</key>
		<string>5a9ed3</string>
        <key>statID</key>
        <string>1190744</string>
        <key>statIntensityID</key>
        <string>1190745</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bleu5</string>
		<key>LUTPicName</key>
		<string>Bleu5.png</string>
		<key>preImageName</key>
		<string>Bleu5.jpg</string>
		<key>cardColor</key>
		<string>5a9ed3</string>
        <key>statID</key>
        <string>1190746</string>
        <key>statIntensityID</key>
        <string>1190747</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café1</string>
		<key>LUTPicName</key>
		<string>Café1.png</string>
		<key>preImageName</key>
		<string>Café1.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190748</string>
        <key>statIntensityID</key>
        <string>1190749</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café2</string>
		<key>LUTPicName</key>
		<string>Café2.png</string>
		<key>preImageName</key>
		<string>Café2.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190750</string>
        <key>statIntensityID</key>
        <string>1190751</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café3</string>
		<key>LUTPicName</key>
		<string>Café3.png</string>
		<key>preImageName</key>
		<string>Café3.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190752</string>
        <key>statIntensityID</key>
        <string>1190753</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café4</string>
		<key>LUTPicName</key>
		<string>Café4.png</string>
		<key>preImageName</key>
		<string>Café4.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190754</string>
        <key>statIntensityID</key>
        <string>1190755</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café5</string>
		<key>LUTPicName</key>
		<string>Café5.png</string>
		<key>preImageName</key>
		<string>Café5.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190756</string>
        <key>statIntensityID</key>
        <string>1190758</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Café6</string>
		<key>LUTPicName</key>
		<string>Café6.png</string>
		<key>preImageName</key>
		<string>Café6.jpg</string>
		<key>cardColor</key>
		<string>a9866c</string>
        <key>statID</key>
        <string>1190759</string>
        <key>statIntensityID</key>
        <string>1190760</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mono1</string>
		<key>LUTPicName</key>
		<string>Mono1.png</string>
		<key>preImageName</key>
		<string>Mono1.jpg</string>
		<key>cardColor</key>
		<string>504f4f</string>
        <key>statID</key>
        <string>1190761</string>
        <key>statIntensityID</key>
        <string>1190762</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mono2</string>
		<key>LUTPicName</key>
		<string>Mono2.png</string>
		<key>preImageName</key>
		<string>Mono2.jpg</string>
		<key>cardColor</key>
		<string>504f4f</string>
        <key>statID</key>
        <string>1190763</string>
        <key>statIntensityID</key>
        <string>1190764</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mono3</string>
		<key>LUTPicName</key>
		<string>Mono3.png</string>
		<key>preImageName</key>
		<string>Mono3.jpg</string>
		<key>cardColor</key>
		<string>504f4f</string>
        <key>statID</key>
        <string>1190765</string>
        <key>statIntensityID</key>
        <string>1190766</string>
	</dict>
</array>
</plist>
