<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>maskPic</key>
		<string>mask0.jpg</string>
		<key>thumbMaskPic</key>
		<string>thumb_mask0.jpg</string>
        <key>name</key>
        <string>无</string>
        <key>statID</key>
        <string>1190768</string>
	</dict>
    <dict>
        <key>maskPic</key>
        <string>mask0.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_maskPic.jpg</string>
        <key>name</key>
        <string>使用照片</string>
        <key>statID</key>
        <string>1190769</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask1.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask1.jpg</string>
        <key>name</key>
        <string>羽化-方</string>
        <key>statID</key>
        <string>1190770</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask2.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask2.jpg</string>
        <key>name</key>
        <string>羽化-三角</string>
        <key>statID</key>
        <string>1190771</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask3.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask3.jpg</string>
        <key>name</key>
        <string>羽化-圆</string>
        <key>statID</key>
        <string>1190772</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask4.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask4.jpg</string>
        <key>name</key>
        <string>半虚半实-方</string>
        <key>statID</key>
        <string>1190773</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask5.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask5.jpg</string>
        <key>name</key>
        <string>半虚半实-三角</string>
        <key>statID</key>
        <string>1190774</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask6.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask6.jpg</string>
        <key>name</key>
        <string>半虚半实-圆</string>
        <key>statID</key>
        <string>1190775</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask7.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask7.jpg</string>
        <key>name</key>
        <string>实底-方</string>
        <key>statID</key>
        <string>1190776</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask8.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask8.jpg</string>
        <key>name</key>
        <string>实底-六边形</string>
        <key>statID</key>
        <string>1190777</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask9.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask9.jpg</string>
        <key>name</key>
        <string>实底-三角</string>
        <key>statID</key>
        <string>1190778</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask10.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask10.jpg</string>
        <key>name</key>
        <string>实底-圆形</string>
        <key>statID</key>
        <string>1190779</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask11.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask11.jpg</string>
        <key>name</key>
        <string>细框线-方</string>
        <key>statID</key>
        <string>1190780</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask12.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask12.jpg</string>
        <key>name</key>
        <string>细框线-六边</string>
        <key>statID</key>
        <string>1190781</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask13.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask13.jpg</string>
        <key>name</key>
        <string>细框线-三角</string>
        <key>statID</key>
        <string>1190782</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask14.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask14.jpg</string>
        <key>name</key>
        <string>细框线-圆</string>
        <key>statID</key>
        <string>1190783</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask15.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask15.jpg</string>
        <key>name</key>
        <string>粗框线-方</string>
        <key>statID</key>
        <string>1190784</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask16.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask16.jpg</string>
        <key>name</key>
        <string>粗框线-六边</string>
        <key>statID</key>
        <string>1190785</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask17.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask17.jpg</string>
        <key>name</key>
        <string>粗框线-三角</string>
        <key>statID</key>
        <string>1190786</string>
    </dict>
    <dict>
        <key>maskPic</key>
        <string>mask18.jpg</string>
        <key>thumbMaskPic</key>
        <string>thumb_mask18.jpg</string>
        <key>name</key>
        <string>粗框线-圆</string>
        <key>statID</key>
        <string>1190787</string>
    </dict>
</array>
</plist>
